@import vars
@import fonts
@import libs

*
	z-index: auto
	//transition: .3s ease

html
	margin-top: 0 !important
	overflow-x: hidden !important

.no-scroll
	overflow-y: hidden

b, strong
	font-weight: bold !important

body
	font-size: $fz16
	min-width: 320px
	position: relative
	font-family: "Roboto"
	text-rendering: antialiased
	overflow-x: hidden !important
	line-height: 137% !important
	background: #fff !important
	font-style: normal

.row
	margin: 0 !important

.no-js
	.menu-toggle
		display: none

.site
	margin: 0

a
	text-decoration: none !important

.hidden
	display: none !important


.fluid-container
	width: 100%
	padding: 0 1.875rem

ul
	margin: 0
	padding: 0

*
	outline: none

.container
	margin: 0 auto
	width: 1140px
	max-width: 1140px

.header,.section,.footer,.swiper-slide
	position: relative

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled
	opacity: 1

.swiper-button-prev
	color: $gray
	left: 30px
	&:after
		content: url("/img/slide-prev.svg")
.swiper-button-next
	color: $gray
	right: 30px
	&:after
		content: url("/img/slide-next.svg")

.section
	.section-title
		width: 100%
		display: flex
		justify-content: center
		align-items: center
		padding: 20px 0
		.title
			text-align: center
			margin: 0
			font-weight: bold
			font-size: $fz18
			line-height: $fz22
			letter-spacing: 0.5em
			text-transform: uppercase
			color: $dark-text
	.section-action
		margin-top: 40px
		width: 100%
		display: flex
		justify-content: center
		.btn
			position: relative
			&:after
				content: ""
				position: absolute
				bottom: 0
				left: -.5rem
				width: calc(100% + 1rem)
				height: 1px
				background: $gold2
	.section-action,.section-action a
		font-size: $fz18
		line-height: $fz21
		text-transform: uppercase
		color: $dark-text

.header
	display: flex
	flex-direction: column
	justify-content: center
	background: $dark
	.header-container
		display: flex
		justify-content: space-between
		align-items: center
		margin-top: 8px
		margin-bottom: 5px
	.language, .social
		max-width: 266px
		min-width: 266px
	.language
		display: flex
		justify-content: flex-end
		ul
			display: flex
			align-items: normal
			list-style: none
			li
				font-size: $fz14
				font-weight: $light
				line-height: 140%
				color: $white
				margin: 0 .2rem
				&.active
					color: $gold
					font-weight: bold
	.social
		color: $white
		font-size: $fz12
		line-height: 140%
		font-weight: $light
		display: flex
		align-items: center
		flex-direction: column
		p
			margin: 0
			margin-bottom: .3125rem
		ul
			display: flex
			li,a
				font-size: $fz16
				line-height: 140%
			li
				padding: 5px
				width: 28px
				height: 28px
				margin: 0 .3125rem
				border-radius: 4px
				background: $gld2
				list-style: none
				display: flex
				justify-content: center
				align-items: center

	.main-menu
		position: relative
		&:before
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 1px
			background: $gld2
			content: ""
		ul
			display: flex
			justify-content: center
			li,a
				color: $gold
				line-height: 22px
				font-size: $fz18
				font-weight: $light
				&:first-letter
					text-transform: uppercase
			li
				margin: 0 69px
				//margin-left: 138px
				padding: 10px 10px
				list-style: none
				&:last-child
				&:first-child
					//margin-right: 4rem

.header-section
	.swiper-container,.swiper-wrapper
		max-height: 392px
	.swiper-button-prev
		color: $gray
		left: 30px
		&:after
			content: url("/img/slide-prev.svg")
	.swiper-button-next
		color: $gray
		right: 30px
		&:after
			content: url("/img/slide-next.svg")
	.slide-container
		display: flex
		width: 100%
		height: 100%
		.image,.content
			width: 50%
			height: 100%
		.image
			background: $dark2
			display: flex
			justify-content: flex-end
			img
				object-fit: contain
				//width: 100%
				height: auto
				&:first-child
					margin-right: 4rem
					z-index: 2
					opacity: 0
				&:last-child
					opacity: .9
					transform: scale(0.75) translate(0, 0)
		.content
			background: linear-gradient(90deg, #E5E5E5 0%, rgba(229, 229, 229, 0) 100%)
			display: flex
			justify-content: center
			align-items: flex-start
			flex-direction: column
			font-weight: $light
			padding-left: 103px
			padding-right: 148px
			.content-container
				position: relative
				&:before
					content: ""
					position: absolute
					left: 0
					top: 0
					width: 1px
					height: calc(100% - 5px)
					background: $gold2
			.title,.text
				color: $dark-text
				padding-left: 30px
			.title,a
				font-size: $fz64
				line-height: $fz60
				font-weight: normal
			.text
				font-size: $fz24
				line-height: $fz29
				font-weight: $light
			p
				margin: 0
				margin-top: 30px

.product-section
	padding: 40px 0

.products-container
	display: flex
	justify-content: center
	.product
		flex-direction: column
		flex: 1 1 auto
		max-width: 342px
		padding: 10px
		align-items: flex-end
		justify-content: flex-end
		display: flex
		margin: 0 .875rem
		&:last-child
			margin-right: 0
		&:first-child
			margin-left: 0
		.product-head
			display: flex
			align-items: flex-end
			.tags
				display: flex
				flex-direction: column
				margin-bottom: 14px
				font-size: $fz12
				line-height: $fz15
				text-align: right
				font-weight: normal
				max-width: 120px
				margin-right: 72px
				position: relative
				&:after
					content: ""
					position: absolute
					right: -10px
					top: 0
					width: 1px
					height: 100%
					background: $gold2
				span
					margin: .15rem 0
		.product-body
			.title
				text-align: center
				h1,h2,h3,h4,h5
					font-size: $fz18
					line-height: $fz22
					color: $dark-text
					font-weight: normal
					margin: 0
				span
					font-size: $fz10
					font-weight: bold
					line-height: $fz12
					color: $gold2
			.desc
				margin-top: 9px
				margin-bottom: 10px
				font-size: $fz12
				line-height: 140%
				text-align: center
				color: $dark-text
			.action,.action a
				color: $dark-text
			.action
				display: flex
				justify-content: center
				text-transform: uppercase
				font-size: $fz12
				line-height: $fz16
				font-weight: bold

.about-section
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, #FFFFFF 100%), url("/img/cha_bg.jpg")
	padding: 30px 0
	.swiper-button-prev
		left: 0
	.swiper-button-next
		right: 0
	.swiper-container
		padding: 45px 74px
		padding-bottom: 30px
	.section-title
		padding: 0
	.swiper-slide
		display: flex
		justify-content: center
	.about-slide
		display: flex
		flex-direction: column
		max-width: 264px
		.title
			text-align: center
			position: relative
			&:after
				content: ""
				bottom: -4px
				left: 0
				width: 100%
				height: 1px
				background: $gold2
				position: absolute
			h1,h2,h3,h4,h5,a
				font-size: $fz18
				line-height: $fz21
				color: $dark-text
				margin: 0
				font-weight: normal
		.desc
			margin-top: 20px
		.desc, .desc a
			font-size: $fz12
			line-height: 140%
			text-align: center
			color: $dark-text

.footer, .footer a
	color: $white
	font-size: $fz14
	line-height: $fz16
.footer
	background: $dark
	padding: 10px 30px
	display: flex
	justify-content: space-between
	span, span a
		color: $gold2
	.info-left, .info-right
		max-width: 285px
		min-width: 285px
	.info-left
		text-align: left
	.copyright
		text-align: center
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
	.info-right
		text-align: right

.mobile-menu,.mobile-menu-btn
	display: none

.mobile-menu
	position: fixed
	right: -9999px
	top: 0
	width: 100%
	height: 100%
	z-index: 5000
	background: $dark
	.m-container
		padding-top: 1.765rem
		width: 100%
		position: relative
		display: flex
		justify-content: flex-end
		.menu-title
			display: flex
			justify-content: flex-end
			padding-bottom: .5rem
			margin-right: 1rem
			align-items: center
		.close-menu-btn
			right: 0
			position: relative
			top: 0
			width: 30px
			height: 30px
	.menu
		overflow: hidden
		overflow-y: auto
		min-height: calc(100vh -  1.765rem)
		height: auto
		width: 100%
		display: flex
		flex-direction: column
		justify-content: space-between
		ul
			//display: flex
			//justify-content: flex-end
			//flex-direction: column
			//font-size: $fz24
			//margin: 0
			//padding: 0
			a
				//font-size: $fz24
			li
				list-style: none
				text-align: right
				//margin: 0 !important
				//padding: .5rem 2rem
				position: relative
				//background: rgba(#24832e, .2)
				svg
					//margin-right: 1rem
					//font-size: 18px
			li
				width: 100%
				transition: .3s ease
				a
					//color: $text
				&:hover
					//background: rgba(lighten($dark, 15%), .7)
					//a
					//	color: #ffffff

.animated-icon,.animated-icon-open
	width: 30px
	height: 20px
	position: relative
	margin: 0px
	transform: rotate(0deg)
	transition: .5s ease-in-out
	cursor: pointer !important
	span
		background: $gold
		display: block
		position: absolute
		height: 3px
		width: 100%
		border-radius: 9px
		opacity: 1
		left: 0
		transform: rotate(0deg)
		transition: .25s ease-in-out
		&:nth-child(1)
			top: 0
		&:nth-child(2)
			top: 10px
		&:nth-child(3)
			top: 20px

.animated-icon.open,.animated-icon-open
	span
		&:nth-child(1)
			top: 11px
			transform: rotate(135deg)
		&:nth-child(2)
			opacity: 0
			left: -60px
		&:nth-child(3)
			top: 11px
			transform: rotate(-135deg)

.language-mobile-menu, .follow-mobile-menu, .main-mobile-menu
	width: 100%
	display: flex

.main-mobile-menu
	flex-direction: column
	li, li a
		color: $white
		font-size: $fz24
		&:first-letter
			text-transform: uppercase
	li.active,li.active a
		color: $gold
	li
		margin: .25rem 0
		padding-right: 1rem

.language-mobile-menu
	margin-top: 1rem
	flex-direction: column
	li, li a
		font-size: $fz18
		font-weight: 300
		line-height: 140%
		color: $white
	li
		padding-right: 1rem
	li.active, li.active a
		color: $gold
		font-weight: bold

.follow-mobile-block
	display: flex
	justify-content: flex-end
	flex-direction: column
	text-align: right
	padding-right: 1rem
	font-size: $fz18
	color: $white
	margin-top: 1rem
	padding-bottom: 1rem
	p
		margin-bottom: 5px
	.follow-mobile-menu
		display: flex
		justify-content: flex-end
		li
			width: 28px !important
			height: 28px
			padding: 5px
			margin: 0 .3125rem
			border-radius: 4px
			background: $gld2
			list-style: none
			display: flex
			justify-content: center
			align-items: center
			&:last-child
				margin-right: 0

@keyframes text-focus-in
	0%
		filter: blur(12px)
		opacity: 0
	100%
		filter: blur(0px)
		opacity: 1

@keyframes kenburns-bottom-right
	0%
		transform: scale(0.75) translate(-20px, -15px)
		transform-origin: 84% 84%

	100%
		transform: scale(1) translate(0px, 0px)
		transform-origin: right bottom

.swiper-slide-active
	.image
		img
			&:first-child
				animation: text-focus-in 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1.4s both
			&:last-child
				animation: kenburns-bottom-right 2s ease-out both

.section-detail
	min-height: 275px
	padding-top: 90px
	&:after
		content: ""
		position: absolute
		bottom: 0
		left: 0
		width: 100%
		background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.7) 100%), url("/img/cha_bg.jpg")
		height: 275px
		z-index: -1
	.detail-other
		display: flex
		flex-direction: column
		.detail-head
			.title
				h1,h2,h3,h4,h5
					font-weight: normal
					font-size: $fz36
					line-height: $fz42
					color: $dark-text
		.reviews
			display: flex
			justify-content: space-between
			.rating
				font-weight: $light
				font-size: $fz18
				color: $dark-text
				line-height: 140%
			.btn
				font-weight: $light
				font-size: $fz18
				line-height: 140%
				text-align: right
				color: $dark-text
		.detail-cart
			padding-top: 40px
			padding-bottom: 40px
			.sum
				font-weight: $light
				font-size: $fz36
				line-height: $fz42
				color: $dark-text
				span
					color: $gray2
					margin-right: 10px
			.action
				margin-top: 20px
				display: flex
				align-items: center
				.cart-count
					display: flex
					align-items: center
					.minus, .plus
						width: 24px
						height: 24px
						position: relative
						cursor: pointer
					.minus
						&:before
							content: ""
							position: absolute
							top: 50%
							left: 0
							width: 100%
							height: 2px
							background: $gold2
							transform: translateY(-50%)
					.plus
						position: relative
						&:after,&:before
							content: ""
							position: absolute
							width: 2px
							height: 24px
							background: $gold2
							left: 50%
							top: 50%
							transform: translate(-50%,-50%)
						&:before
							top: 50%
							left: 0
							width: 100%
							height: 2px
							transform: translateY(-50%)
					.count
						display: flex
						align-items: center
						justify-content: center
						font-weight: $light
						font-size: $fz24
						line-height: 140%
						text-align: center
						color: $dark-text
						padding: 9px 18px
						margin: 0 17px
						border-radius: 100%
						position: relative
						&:after
							content: ""
							width: 100%
							height: 100%
							position: absolute
							left: 0
							top: 0
							z-index: -1
							border-radius: 100%
							border: 2px solid #C4C4C4
				.add
					margin-left: 20px
					.btn
						color: $dark-text
						text-transform: uppercase
						font-size: $fz18
						line-height: 140%
						font-weight: $light
						text-align: center
						outline: none
						background: $white
						padding: 5px 35px
						border: none
						position: relative
						&:after
							content: ""
							position: absolute
							left: -2px
							top: -2px
							width: calc(100% + 4px)
							height: calc(100% + 4px)
							background: $gld2
							border-radius: 2px
							z-index: -1
		.desc, .desc a
			line-height: 140%
			font-size: $fz16
			font-weight: $light
			color: $dark-text
		.desc
			span
				color: $gold2
				font-weight: bold
			.subtitle
				font-weight: normal
			p
				margin-bottom: 10px
			.action
				display: flex
				justify-content: flex-end
				.btn
					font-weight: $light
					font-size: $fz18
					line-height: 140%
					text-align: right
					color: $dark-text
	.swiper-slide
		display: flex
		justify-content: center
	.preview
		position: relative
		width: 100%
		max-width: 560px
	.preview-mini
		user-select: none
		position: relative
		.swiper-button-next, .swiper-button-prev
		.swiper-button-next
			right: -20px
			&:after
				content: url(/img/slide-next-mini.svg)
		.swiper-button-prev
			left: -20px
			&:after
				content: url(/img/slide-prev-mini.svg)
	.preview-mini-container
		display: flex
		justify-content: center
		span
			display: flex
			margin: 0 20px
			position: relative
			padding: 0 .5rem
			border: 1px solid transparent
			max-width: 80px
			max-height: 80px
			cursor: pointer
			img
				z-index: 1
				object-fit: contain
			&:before,&:after
				content: ""
				position: absolute
			&:before
				width: 100%
				background: rgba(255, 255, 255, 0.6)
				height: 100%
				top: 0
				left: 0
				z-index: 2
			&:first-child
				margin-left: 0
			&:last-child
				margin-right: 0
		span.active
			background: transparent
			border: 1px solid $gold2
			&:before
				width: calc(100% + 2px)
				height: 70%
				top: 50%
				left: -1px
				transform: translateY(-50%)
				background: $white
				z-index: auto
			&:after
				height: calc(100% + 2px)
				width: 70%
				left: 50%
				top: -1px
				transform: translateX(-50%)
				background: $white

.detail-tabs
	width: 100%
	margin-top: 70px
	.tab-head
		display: flex
		position: relative
		justify-content: center
		&:after
			position: absolute
			left: 0
			bottom: 0
			content: ""
			width: 100%
			background: $gold2
			height: 1px
		span
			display: flex
			margin: 0 98px
			justify-content: center
			padding: 10px
			font-size: $fz24
			line-height: $fz28
			color: $dark-text
			font-weight: $light
			cursor: pointer
			&:first-child
				margin-left: 0
			&:last-child
				margin-right: 0
		span.active
			color: $gold2
	.tab-body
		display: none
		padding-top: 30px
		padding-bottom: 60px
		.first-block
			max-width: 600px
			p, p a
				font-weight: normal
				font-size: $fz18
				line-height: 140%
				color: $dark-text
		.last-block
			flex: 1 1 auto
			display: flex
			justify-content: flex-end
			padding-right: 6rem
	.detail-tab-content
		display: none

.desc-tab
	display: flex
	font-weight: $light
	font-size: $fz48
	line-height: $fz56
	color: $gold2
	
.product-detail-head
	display: flex

@import media